body {
  background-color: #1a1a1a;
  color: white;
  font-family: monospace;
}

.dashboard {
  padding: 20px;
  max-width: 900px;
  margin: 20px auto;
  border: 2px solid #00d8ff;
  border-radius: 15px;
  display: grid;
  gap: 20px;
}

.titulo-comandante {
  color: #00d8ff;
}

.caixa {
  border: 1px solid #333;
  padding: 15px;
  border-radius: 8px;
}

.status-bar {
  width: 100%;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  height: 30px;
}

.status-preenchido {
  height: 100%;
  transition: all 0.5s ease;
}

.grid-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.coluna {
  flex: 1;
  min-width: 300px;
}

.relatorio {
  border: 1px solid #333;
  padding: 20px 30px;
  border-radius: 8px;
}
